/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

main {
    margin-top: 80px;
}

/* Element Class */
.container {
    width: 1140px;
    margin: 0 auto;
}

.break-div {
    width: 100%;
    height: 100px;
}

/* Style Class */
/* Heading Style */
.heading {
    font-weight: bolder;
}

/* Text align */
.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

/* Flex Box */
.display-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

/* Display class */
.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-inline {
    display: inline;
}

/* Position */
.position-fixed {
    position: fixed;
    width: 100%;
    top: 0;
}

/* Default text style */
.default-text {
    color: black;
    text-decoration: none;
}

/* Animation */
@keyframes fly-in {
    from {
        position: relative;
        top: 10px;
        opacity: 0;
    }

    to {
        position: relative;
        top: 0px;
        opacity: 1;
    }
}

/* Animation class */
.animation-fly-in {
    animation-name: fly-in;
    animation-duration: 2s;
}